<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filtro de datos en Vue.js</title>
</head>
<style>
    h2.center {
        text-align: center;
    }
</style>

<body>


    <div id="app_v_if">
        <h2 class="center">Condicionales</h2>
        <template v-if="mostrar">
                <a :href="url" target="_blank">{{enlace}}</a>
        </template>
    </div>

    <hr>

    <div id="app_filters">
        <h2 class="center">Filtros</h2>
        <h1>{{ titulo | uppercase }}</h1>
        <h2>{{ subtitulo | capitalize }}</h2>
        <h3>{{ willchange | rename }}</h3>
    </div>

    <hr>

    <div id="app_events">
        <h2 class="center">Eventos</h2>
        <button @click="sumar">Sumar 1</button>
        <button @click="restar">Restar 1</button> El contador esta en {{ contador }}
    </div>

    <hr>

    <div id="app_forms">
        <h2 class="center">Formularios</h2>
        <input type="text" name="nombre" placeholder="Introduce tu nombre" v-model="nombre">
        <p>Tu nombre en mayúscula es: {{ nombre | uppercase }}</p>

        <form @submit.prevent="submit" action="" method="">
            <h2>¿Cuales son tus cursos favoritos?</h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>
    
            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de SEO</label>
    
            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de React y Redux</label>
    
            <input v-model="cursos" type="checkbox" id="growth" value="growth">
            <label for="growth">Curso de Growth Marketing</label>
    
            <button type="submit">Enviar</button>
        </form>
    
    </div>

    <hr>

    <div id="app_list">
        <h2 class="center">Listas</h2>
        
    </div>

    

    <script src="https://unpkg.com/vue"></script>
    <script src="js/app_v_if.js"></script>
    <script src="js/app_filters.js"></script>
    <script src="js/app_events.js"></script>
    <script src="js/app_forms.js"></script>
</body>

</html>